/* Defines primary styles in the body. */
body {
  background-color: #e0ffff;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: #000000;
  font-family: "Poppins", sans-serif;
}

/* HEADER
Creates a header with a background gradiant animation, including a navigation bar, and title/H1,
and an animated text scroll bar. */
header {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  animation-name: example;
  animation-duration: 4s;
  color: #000000;
  font-family: "Poppins", sans-serif;
}
  /* BG GRADIANT ANIMATION
  Incorporates the color gradiant animation source. */
@keyframes example {
  from {background-color: #bae9e9;}
  to {background-color: #e0ffff;}
}
  /* H1
  Creates title/primary heading H1 for the top of each page. */
h1 {
  text-shadow: 1px 1px 1px #ababab;
  text-align: center;
  margin: auto;
  position: relative;
}
  /* TEXT SCROLL ANIMATION
  Creates subtitle/H3 within animated scroll container for home page. */
h3 {
  font-family: "Poppins", sans-serif;
  font-size: medium;
  font-weight: bold;
  position: fixed;
  top: 35px;
  overflow: hidden;
}
  /* Defines parameters of scroll text & container animation for webpage browser. */
#scroll-container {
  background-color: #e0ffff;
  font-weight: bold;
  animation-name: example;
  animation-duration: 4s;
  overflow: -moz-hidden-unscrollable;
}
#scroll-text {
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -moz-animation: my-animation 10s linear infinite;
  -webkit-animation: my-animation 10s linear infinite;
  animation: my-animation 80s linear infinite;
  font-family: "Poppins", sans-serif;
}
    /* Defines scroll container properties for Firefox. */
  @-moz-keyframes my-animation {
    from { -moz-transform: translateX(100%); }
    to { -moz-transform: translateX(-100%); }
}
    /*  Defines scroll container properties for Google Chrome. */
@-webkit-keyframes my-animation {
  from { -webkit-transform: translateX(100%); }
  to { -webkit-transform: translateX(-100%); }
}
@keyframes my-animation {
  from {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  to {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
/* NAVIGATION BAR
Creates a nagivation bar, including "home," "about," and "contact" pages. */
ul {
  background-color: #e0ffff;
  color: #000000;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  text-align: center;
  overflow: hidden;
  position: fixed;
  top: 25px;
  left: 25px;
  border-radius: 40px;
}
  /* Define overall properties for the navigation bar. */
li {
  float: left;
}
  /* Define display properties for the each link within the navigation bar. */
a {
  display: block;
} 
  /* Define highlight/selection properties for the each link within the navigation bar. */
li a {
  border-radius: 40px;
  padding: 14px 14px;
}
  /* Define properties for elements when hovering over with mouse. */
li a:hover {
  background-color: #b2ffff;
  font-style: italic;
}
/* INFO. "ABOUT" SECTION CARDS
Designs & formats profile section cards. */
.subject {
  background-color: #FFFFFF;
  color: black;
  font-family: "Poppins", sans-serif;
  border-radius: 20px;
  box-shadow: 1px 1px 1px #ababab;
  border: 2px solid aliceblue;
  margin: 20px;
  padding: 20px;
}
/* IMAGE GALLERY
Creates layout & design for portfolio project call-to-action visual elements. */
div.gallery {
  color: #000000;
  font-family: "Poppins", sans-serif;
  display: flex;
  height: auto;
  justify-content: center;
  }
div.gallery img {
  top: 25px;
}
div.desc {
  padding: 25px;
}
/* CONTACT FORM
A fillable contact form is created allowing users to input their first and last name, and their country location. */
input[type=text], select {
  color: black;
  font-family: "Poppins", sans-serif;
  padding: 12px 20px;
  margin: 8px 0;
  width: 100%;
  display: inline-block;
  border: 1px solid #e0ffff;
  border-radius: 4px;
  box-sizing: border-box;
  }
input[type=submit] {
  background-color: aliceblue;
  color: black;
  font-weight: bold;
  border-radius: 40px;
  padding: 14px 20px;
  margin: 25px 0;
  width: 100%;
  cursor: cell;
}
input[type=submit]:hover {
  background-color: aliceblue
}
div {
  padding: 20px;
}
h4 {
  margin: auto;
  padding: 20px;
  text-align: center;
  font-family: "Poppins", sans-serif;
}
/* PAGE DIVIDER
Adds a solid-line page divider to the home page. */
hr.solid {
  border-top: 3px solid #424242;
  padding: 25px;
  margin:25px;
}
/* BG HOVER-TO-HIGHLIGHT
Provides circular highlights when hovering over specific elements. */
.btn {
  color: black;
  padding: 16px 32px;
  transition: 0.3s;
  align-items: center;
  border-radius: 200px;
}
.btn:hover {
  background-color: #b2ffff;
  color: white;
}
/* FOOTER */
footer {
  padding: 20px;
  text-align: center;
}