/* Add screen styles below */
body {
    background-color: #e0ffff;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #424242;
}

header {
    background-color: #e0ffff;
    color: #424242;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

@keyframes example {
    from {background-color: #b2ffff;}
    to {background-color: #e0ffff;}
  }

h1 {
    background-color: #e0ffff;
    color: #424242;
    font-family: "Poppins", sans-serif;
    text-align: center;
    text-shadow: 1px 1px 1px #ababab;
    padding: auto;
    margin: auto;
    background-color: #e0ffff;
    animation-name: example;
    animation-duration: 4s;
}
h3 {
    font-family: "Poppins", sans-serif;
    color: #424242;
    font-size: 280%;
    overflow: hidden;
    text-align: center;
    padding-bottom: 10px;
    margin: auto;
}

#scroll-container {
    border: 0px solid black;
    color: #424242;
    border-radius: 0px;
    overflow: -moz-hidden-unscrollable;
    background-color: #e0ffff;
}
#scroll-text {
    /* animation properties */
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -moz-animation: my-animation 10s linear infinite;
    -webkit-animation: my-animation 10s linear infinite;
    animation: my-animation 50s linear infinite;
    padding-bottom: 0px;
    margin-top: 0px;
}
/* for Firefox */
@-moz-keyframes my-animation {
    from { -moz-transform: translateX(100%); }
    to { -moz-transform: translateX(-100%); }
}
/* for Chrome */
@-webkit-keyframes my-animation {
    from { -webkit-transform: translateX(100%); }
    to { -webkit-transform: translateX(-100%); }
}
@keyframes my-animation {
    from {
      -moz-transform: translateX(100%);
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
    }
    to {
      -moz-transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }
}

ul {
    list-style-type: none;
    color: #424242;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #e0ffff;
    position: fixed;
    top: 0;
    width: auto;
    background-color: red;
    animation-name: example;
    animation-duration: 4s;
}
li {
    float: left;
}
a {
    display: block;
    padding: auto;
    background-color: #e0ffff;
} 
li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
}
li a:hover {
    background-color: #e0ffff;
}
li a:hover:not(.active) {
    background-color: #e0ffff;
    font-style: italic;
    font-weight: bolder;
    text-align: center;
}
.active {
    background-color: #b2ffff;
    font-weight: bolder;
}

.city {
    background-color: #FFFFFF;
    color: black;
    border-radius: 20px;
    box-shadow: 0.5px 0.5px 0.5px #ababab;
    border: 2px solid aliceblue;
    margin: 20px;
    padding: 20px;
}

div.gallery {
    margin: 5px;
    float: center;
    width: auto;
    align-content: center;
    align-self: center;
    align-items: center;
    display: flex;
    color: #424242;
  }
  
  
  div.gallery img {
    width: 30%;
    height: auto;
    align-items: center;
    align-self: center;
    align-items: center;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
    align-self: center;
    align-items: center;
  }

footer {
    padding: 20px;
    text-align: center;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #b2ffff;
    color: black;
    font-weight: bold;
    padding: 14px 20px;
    margin: 25px 0;
    border: none;
    border-radius: 40px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: rgba(178, 255, 255, 0.527)
  }
  
  div {
    border-radius: 5px;
    padding: 20px;
  }

  h4 {
    margin: auto;
    padding: 20px;
    text-align: center;
  }

  hr.solid {
    border-top: 3px solid #black;
    padding: 25px;
    margin:25px
  }

  .btn {
    background-color: #e0ffff;
    border: none;
    color: black;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    transition: 0.3s;
    align-items: center;
    border-radius: 125px;
  }
  
  .btn:hover {
    background-color: #b2ffff;
    color: white;
  }